@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 00, 00, 00;
  --background-end-rgb: 80, 00, 80;
  --white: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #ffffff;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*{
  box-sizing: border-box;
  color: black;
  font-family: Roboto, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 16px;
  font-weight: 800;
}
html{
  margin:0px;
  height:100%;
}
body {
  margin:0px;
  min-height: 100vh;
  color: rgb(var(--white));
  background: linear-gradient(
      to bottom,
      transparent,
      #1f520a
    )
    rgb(var(--background-start-rgb));
    
}
